  
 @media (min-width:992px) {
   html.w-mod-js:not(.w-mod-ix) [data-w-id="8474717a-9ade-feff-7690-d6003d7069b7"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="a6b377e5-417f-acd4-f556-989feb91645f"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="d6da9a95-e24c-34bc-8b98-0c19f69817f0"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972eb8"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972eba"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972ebd"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad2ff"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad301"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad304"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc12"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc14"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc17"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e1"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e3"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e6"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d772"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d774"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d777"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d1c"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d1e"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d21"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343f7"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343f9"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343fc"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a3"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a5"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a8"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364ec"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364ee"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364f1"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }
 }

 @media (max-width:991px) and (min-width:768px) {
   html.w-mod-js:not(.w-mod-ix) [data-w-id="8474717a-9ade-feff-7690-d6003d7069b7"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="a6b377e5-417f-acd4-f556-989feb91645f"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="d6da9a95-e24c-34bc-8b98-0c19f69817f0"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972eb8"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972eba"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="10f9e283-d49a-b84e-888a-29eee0972ebd"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad2ff"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad301"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="bc104ed2-c93b-bce7-6a52-3c9fe76ad304"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc12"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc14"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="6632fef4-7f8f-f7c3-a7df-8ba86102dc17"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e1"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e3"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="7c051bb0-b778-5b84-4f74-094b17f5e0e6"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d772"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d774"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="3fcc1eb9-29b4-39da-cfe9-452798a4d777"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d1c"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d1e"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="313a7cb7-a5ee-fa3c-1652-ccc1fcaa9d21"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343f7"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343f9"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="f3774e81-3559-9ab1-633f-6a5a413343fc"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a3"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a5"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="4fe79d45-bbc6-0bcc-1a2f-0a421bffc7a8"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364ec"] {
     opacity: 0;
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364ee"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }

   html.w-mod-js:not(.w-mod-ix) [data-w-id="31ffc16a-47e0-6392-3fba-e2feb65364f1"] {
     -webkit-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -moz-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     -ms-transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
     transform: translate3d(0, 100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
   }
 } 
        .nav-link {
          color: white;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 15px;
          display: inline-block;
          transition: background-color 0.3s ease, color 0.3s ease;
          font-size: 16px; /* Default font size for laptops */
        }
        .nav-link:hover,
        .nav-link:focus {
          background-color: black;
          border-radius: 5px;
          color: white;
          text-decoration: none;
        }
        .dropdown {
          position: relative;
          display: inline-block;
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.8);
          min-width: 160px;
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border-radius: 5px;
         
        }
        .dropdown-content a {
          color: whitesmoke;
          padding: 5px 13.2px;
          text-decoration: none;
          display: block;
        }
        .dropdown-content a:hover {
          background-color: black;
        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
        body {
          background-color: #121212;
          color: #FFFFFF;
          font-family: Arial, sans-serif;
          margin: 0;
        }
        .nav-menu, .blog-link {
          display: flex;
        }
        @media screen and (max-width: 768px) {
          .dropdown, .blog-link,
          .nav-menu .nav-link {
            display: block;
            width: 100%;
            text-align: left;
            margin: 10px 0;
            font-size: 20px; /* Font size for phones */
          }
          .dropdown {
            position: static;
          }
          .dropdown-content {
            display: none;
            position: static;
            background-color: rgba(0, 0, 0, 0.8);
            width: 100%;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 5px;
            background-color: rgb(30, 30, 30);
          }
          .dropdown:hover .dropdown-content {
            display: block;
          }
        }
        .blog-link {
          opacity: 1;
          text-decoration: none;
          font-weight: bold;
          padding: 10px 15px;
          display: inline-block;
          color: var(--light);
          font-size: 16px; /* Default font size for laptops */
          transition: background-color 0.3s ease, color 0.3s ease;
        }
        .blog-link:hover {
          background-color: black;
          border-radius: 5px;
          color: white;
          text-decoration: none;
        }
        .nav {
          position: relative;
        }
        .logo-container {
          position: relative;
          display: inline-block;
          background-color: rgba(138, 138, 138, 0.5);
          /* border-radius: 5px; */
          overflow: hidden;
        }
        .logo {
          display: block;
          max-width: 100%;
        }
        .section-footer {
            background-color: #222;
            color: #fff;
            padding: 20px 0;
        }
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .footer-links, .footer-credits {
            display: flex;
            font-size: 15px;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .footer-links a, .footer-credits p {
            margin: 0 10px; /* Increased margin for better spacing */
            color: #fff;
            text-decoration: none;
        }
        .footer-links a:hover {
            color: #ffa500;
        }

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  .footer-links, .footer-credits {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .footer-text p {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

/* Remove gap between specific paragraphs */
.footer-text p.line-space + p {
  margin-top: 0; /* Remove margin-top for paragraphs immediately after the one with class 'line-space' */
}

.footer-text p + p {
  margin-top: 0; /* Remove margin-top between consecutive paragraphs */
}

/* Optional: Adjust spacing specifically for phone mode */
@media screen and (max-width: 768px) {
  .footer-text p.line-space + p {
    margin-top: 0; /* Ensure no gap on mobile devices */
  }

  .footer-text p + p {
    margin-top: 0; /* Ensure no gap on mobile devices */
  }
}
}/* Navbar styling */
.navbar {
  background-color: #333333; /* Dark gray background */
  position: fixed; /* Fix the navbar position */
  top: 0; /* Position it at the top */
  width: 100%; /* Make it full width */
  z-index: 1000;  
  padding: 0px 15px;
}

/* Adjust the padding for the main content to account for the fixed navbar */
body {
  padding-top: 50px; /* Adjust this value based on your navbar height */
}



/* Nav menu links styling */
.nav-menu .blog-link {
  color: white; /* Set the text color to white */
/* Reduce padding for a slimmer look */
  text-decoration: none; /* Remove underline */
}

.nav-menu .blog-link:hover {
  background-color: #030303; /* Optional: Add a hover effect with a lighter gray */
}

 

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px; /* Default font size for laptops */
}
.nav-link:hover,
.nav-link:focus {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
 
}
.dropdown-content a {
  color: whitesmoke;
  padding: 5px 13.2px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}
body {
  background-color: #121212;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
}
.nav-menu, .blog-link {
  display: flex;
}
@media screen and (max-width: 768px) {
  .dropdown, .blog-link,
  .nav-menu .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    margin: 10px 0;
    font-size: 20px; /* Font size for phones */
  }
  .dropdown {
    position: static;
  }
  .dropdown-content {
    display: none;
    position: static;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    background-color: rgb(30, 30, 30);
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
.blog-link {
  opacity: 1;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 15px;
  display: inline-block;
  color: var(--light);
  font-size: 16px; /* Default font size for laptops */
  transition: background-color 0.3s ease, color 0.3s ease;
}
.blog-link:hover {
  background-color: black;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
.nav {
  position: relative;
}
.logo-container {
  position: relative;
  display: inline-block;
  background-color: rgba(138, 138, 138, 0.5);
  /* border-radius: 5px; */
  overflow: hidden;
}
.logo {
  display: block;
  max-width: 100%;
}
.section-footer {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-links, .footer-credits {
    display: flex;
    font-size: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-links a, .footer-credits p {
    margin: 0 10px; /* Increased margin for better spacing */
    color: #fff;
    text-decoration: none;
}
.footer-links a:hover {
    color: #ffa500;
}

@media screen and (max-width: 768px) {
.footer {
flex-direction: column;
align-items: flex-start;
text-align: left;
}
.footer-links, .footer-credits {
flex-direction: column;
align-items: flex-start;
}

.footer-text p {
margin: 0; /* Remove default margin */
padding: 0; /* Remove default padding */
}

/* Remove gap between specific paragraphs */
.footer-text p.line-space + p {
margin-top: 0; /* Remove margin-top for paragraphs immediately after the one with class 'line-space' */
}

.footer-text p + p {
margin-top: 0; /* Remove margin-top between consecutive paragraphs */
}

/* Optional: Adjust spacing specifically for phone mode */
@media screen and (max-width: 768px) {
.footer-text p.line-space + p {
margin-top: 0; /* Ensure no gap on mobile devices */
}

.footer-text p + p {
margin-top: 0; /* Ensure no gap on mobile devices */
}
}
}/* Navbar styling */
.navbar {
background-color: black;  
position: fixed; /* Fix the navbar position */
top: 0; /* Position it at the top */
width: 100%; /* Make it full width */
z-index: 1000;  
padding: 0px 15px;
}

/* Adjust the padding for the main content to account for the fixed navbar */
body {
padding-top: 50px; /* Adjust this value based on your navbar height */
}



/* Nav menu links styling */
.nav-menu .blog-link {
color: white; /* Set the text color to white */
/* Reduce padding for a slimmer look */
text-decoration: none; /* Remove underline */
}

.nav-menu .blog-link:hover {
background-color: #030303; /* Optional: Add a hover effect with a lighter gray */
}
 


